<div>
  <div class="col-md-2">
    <input required type="date" class="form-control" uib-datepicker-popup ng-model="entry.date" close-text="Close" />
  </div>
  <div class="col-md-1">
    <input required class="form-control" type="text" ng-model="entry.giver.name">
  </div>
  <div class="col-md-1">
    <input class="form-control" type="text" ng-model="entry.giver.location">
  </div>
  <div class="col-md-1">
    <input required class="form-control" type="text" ng-model="entry.receiver.name">
  </div>
  <div class="col-md-1">
    <input class="form-control" type="text" ng-model="entry.receiver.location">
  </div>
  <div class="col-md-1">
    <input class="form-control" type="text" ng-model="entry.contents">
  </div>
  <div class="col-md-1">
    <input class="form-control" type="text" ng-model="entry.message">
  </div>
  <div class="col-md-1">
    <input required class="form-control" type="text" ng-model="entry.pin">
  </div>
  <div class="col-md-1">
    <div class="btn-group inline">
      <button class="btn btn-success" ng-click="item.saveEntry(entry)">Save</button>
      <button class="btn btn-danger" ng-click="item.cancelEntryEdit(entry)">Cancel</button>
    </div>
  </div>
</div>
