<tin-nav></tin-nav>
<div class="container-fluid" ng-controller="SearchController as search">
  <form ng-submit="search.findTins(search.serialNumber)">
    <input class="form-control" placeholder="Search" type="text" ng-model="search.serialNumber">
  </form>
  <table class="table table-striped table-hover">
    <thead>
      <th>Serial Number</th>
      <th>Number of Gift Entries</th>
    </thead>
    <tbody>
    <tr ui-sref="itemDetail({id: item.id})" ng-repeat="item in search.items" ng-click="goToDetail(item.serialNumber)">
        <td>{{item.serialNumber}}</td>
        <td>{{item.giftEntries.length}}</td>
      </tr>
    </tbody>
  </table>
</div>
