<div class="container-fluid">
  <form ng-submit="search.findItems(search.serialNumber)">
    <input class="form-control" placeholder="Enter your serial number..." type="text" ng-model="search.serialNumber">
  </form>
  <table class="table table-striped table-hover">
    <thead>
      <th>Serial Number</th>
      <th>Number of Gift Entries</th>
      <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="item in search.items">
        <td>{{item.serialNumber}}</td>
        <td>{{item.giftEntries.length}}</td>
        <td>
          <button ui-sref="tt.item.detail({id: item.id})" class="btn btn-primary">View</button>
          <button ng-hide="search.checkIfLinked(item)" ui-sref="tt.item.link({id: item.id})" class="btn btn-primary">Link</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
